html {
	overflow-x: hidden;
}

.containernav {
	display: grid;
	grid-template-columns: 1.2fr 4.5fr 3fr 1.2fr;
	grid-template-rows: 70px min-content;
	grid-column-gap: 1.4em;
	grid-row-gap: 3.2em;
}

.container {
	display: grid;
	grid-template-columns: 1.2fr 7.5fr 1.2fr;
	grid-template-rows: 70vh;
	grid-column-gap: 1.4em;
	grid-row-gap: 1em;
	margin-top: 9em;
}

.logo {
	grid-column: 2 / 2;
	grid-row: 1 / 1;
	margin-top: 10px;
	
}

.lid {
	font-family: Playfair Display;
	font-weight: 100;
	font-size: 17pt;
	line-height: 1.6;
	color: #827665;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;	
}

.navbar {
	font-family: Open Sans;
	font-size: 1em;
	list-style-type: none; 
	overflow: hidden;
	padding: 0;
	float: right;
	margin-top: 30px;
}

li {
	display: inline;
	padding-left: 29px;
	
}

.nav {
	grid-column-start: 3;
	grid-column-end: 3;
}

a {
	text-decoration: none;
	color: black;
}

.mainimg {
	width: 100vw;
	margin-top: 2em;
}

.containerabout {
	font-family: Playfair Display;
	font-size: 1em;
	line-height: 1.6;
	column-count: 2;
	column-gap: 3em;
}

#about {
	grid-column: 2 / 2;
	grid-row: 1 / 2;
}

.article {
	margin-top: 1px;
}

.article::first-letter {
	font-weight: 700;
	font-size: 7em;
	float: left;
	margin-right: 8px;
}

.signature {
	float: right;
}

.gallery {
	display: grid;
	grid-template-columns: 1.4fr 3.8fr 3.8fr 1.4fr;
	grid-template-rows: repeat(2, 825px);
	grid-column-gap: 1.4em;
	grid-row-gap: 1.4em;
	margin-top: 2em;
}

.leftimg {
	grid-column: 2 / 2;
}

.rightimg {
	grid-column: 3 / 3;
}

.item {
	position: relative;
}

.image {
	display: block;
	height: auto;
	width: 550px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.6s ease-in-out;
	background-color: white;
}

.item:hover .overlay {
	opacity: 0.5;
	animation: text 0.5s ease-in-out;
}

.hovertext {
	color: grey;
	margin-left: 20px;
	margin-top: 60px;
	line-height: 0.4;
	position: absolute;
	
	}

@keyframes text {
	0% {
	left: 100px; 
}

100% {
	left: 0px;
}

}

h2 {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 1.9em;
}

p {
	font-family: Playfair Display;
}